<form
  class="capharnaum flexlarge flex-group-center grid-2col grid-span-2"
  autocomplete="off"
>
  <label class="align-center resource-label" for="skillRollDifficulty"
    >{{localize "LHTRPG.Difficulty"}}</label
  >
  <select class="abilityCheckDifficulty">
    <option value="0">간단</option>
    <option value="3">쉬움</option>
    <option value="6">보통</option>
    <option value="9">어려움</option>
    <option value="12">매우 어려움</option>
    <option value="15">극악</option>
    <option value="18">전설적</option>
  </select>
  <label class="align-center resource-label" for="skillRollSelect"
    >{{localize "LHTRPG.NPlusMinus"}}</label
  >
  <input class="abilityCheckDice" type="number" placeholder="0" />
</form>
